<div class="border">
    <mat-card class="example-card" [class.alternative]="isTrue">
        <mat-card-header>
            <mat-card-title>
                <mat-toolbar class="example-full-width " color="primary">
                    Login
                  </mat-toolbar>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form alternative">
                <mat-form-field class="example-full-width ">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="andrews">
                </mat-form-field>
    
                <mat-form-field class="example-full-width ">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" >
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="changeTheme()">Login</button>
        </mat-card-actions>
    </mat-card>
</div>

